body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d7e9;
  padding: 2rem;
}

main {
  width: 100%;
  padding: 19rem;
  background-color: hotpink;
}

input + input {
  margin-left: 1rem;
}

.hexadezimal-value {
  font-size: xx-large;
  margin: 0;
  margin-inline-start: 30%;
}

.red {
  accent-color: red;
}

.green {
  accent-color: green;
}

.blue {
  accent-color: blue;
}

button {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  font-size: large;
}
